
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.carousal-slide {
  width: 100%;
   /* Adjust according to the number of images you want to show */
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
}

.carousel-component {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: calc(100% / 3);
  padding: 1rem;
  margin: .5rem;
  height: 70vh;
  border: .1rem solid;
  border-radius: 1.1rem;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.carousel-control {
  background-color: var(--secondary);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.carousel-control:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textDesc {
  border: .1rem solid;
  border-radius: 1.1rem;
  padding: 1rem
}