.box {
  position: relative;
  border-radius: 0.6rem;
}

.introduction {
  margin: 2rem;
  padding: 2rem;
}

.coverPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverFirstHalf {
  background-color: var(--skyBlue);
  opacity: 0.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.businessCard {
  box-shadow: inset -5px 0 20px rgba(0, 0, 0, 0.5); /* Inner shadow to simulate book depth */
  transition: transform 0.2s;
}