@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #f4c2c2;
  --secondary: #ededf0db;
  --lightGrey: #bbb8b8;
  --solid: #a6a6a8;
  --alpha: #027fb2;
  --aliceBlue: aliceblue;
  --skyBlue: #badcfa;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  background: var(--primary);
  cursor: pointer;
  border: 1px solid;
}

.borderRadius {
  border: 1px solid var(--lightGrey);
  border-radius: 1rem;
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
}
form label span {
  margin-bottom: 10px;
}

/* careers list */
.careers > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
  font-size: 0.8em;
  color: var(--lightGrey);
}

/* careers details */
.career-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
  text-align: start;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  text-decoration: underline;
  text-transform: capitalize;
}

.sticky-month-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  background-color: var(--lightGrey);
}

h6 {
  color: var(--alpha);
  font-size: 3rem;
  line-height: 1;
}
